<h1>Tasks</h1>
<%= link_to 'New Task', new_task_path %>

<%= form_tag tasks_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a task"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

  <ul>
    <% @tasks.each do |task| %>
      <li><%= task.name %></li>
      <li><%= task.description %></li>
      <li><%= task.priority %></li>
      <% end %>
  </ul>    
 


